:root {
  --card: #f5f5f5;
  --info: #0077b3;
  --ring: #ffdd00;
  --error: #e60000;
  --input: #ededed;
  --muted: #f0f0f0;
  --accent: #dddd00;
  --border: #e0e0e0;
  --chart-1: #b30000;
  --chart-2: #0000b3;
  --chart-3: #b39b00;
  --chart-4: #8026d9;
  --chart-5: #ff3333;
  --popover: #f5f5f5;
  --primary: #fff400;
  --sidebar: #f5f5f5;
  --success: #009938;
  --warning: #e6b800;
  --secondary: #e6e6e6;
  --background: #fafafa;
  --foreground: #1a1a1a;
  --destructive: #ef4343;
  --sidebar-ring: #999999;
  --sidebar-accent: #ededed;
  --sidebar-border: #e0e0e0;
  --card-foreground: #1a1a1a;
  --info-foreground: #ffffff;
  --sidebar-primary: #1a1a1a;
  --error-foreground: #ffffff;
  --muted-foreground: #666666;
  --accent-foreground: #1a1a1a;
  --popover-foreground: #0b0b09;
  --primary-foreground: #1a1a1a;
  --sidebar-foreground: #1a1a1a;
  --success-foreground: #ffffff;
  --warning-foreground: #1a1a1a;
  --secondary-foreground: #f2f2f2;
  --destructive-foreground: #ffffff;
  --sidebar-accent-foreground: #1a1a1a;
  --sidebar-primary-foreground: #f5f5f5;
  --radius: 0.5rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-blur: 3px;
  --shadow-color: 0, 0%, 30%;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --font-sans: DM Sans;
}

:root.dark {
  --card: #262626;
  --info: #02a6f7;
  --ring: #ffe433;
  --error: #f37272;
  --input: #333333;
  --muted: #333333;
  --accent: #ebd547;
  --border: #404040;
  --chart-1: #990000;
  --chart-2: #000099;
  --chart-3: #998500;
  --chart-4: #8026d9;
  --chart-5: #ff3333;
  --popover: #1f1f1f;
  --primary: #fffd00;
  --sidebar: #262626;
  --success: #1cce5e;
  --warning: #fbd746;
  --secondary: #333333;
  --background: #0d0d0d;
  --foreground: #f2f2f2;
  --destructive: #f37272;
  --sidebar-ring: #666666;
  --sidebar-accent: #1f1f1f;
  --sidebar-border: #9a2323;
  --card-foreground: #f2f2f2;
  --info-foreground: #ffffff;
  --sidebar-primary: #333333;
  --error-foreground: #ffffff;
  --muted-foreground: #b3b3b3;
  --accent-foreground: #000000;
  --popover-foreground: #ffdd00;
  --primary-foreground: #1a1a1a;
  --sidebar-foreground: #f2f2f2;
  --success-foreground: #ffffff;
  --warning-foreground: #1a1a1a;
  --secondary-foreground: #f2f2f2;
  --destructive-foreground: #ffffff;
  --sidebar-accent-foreground: #f2f2f2;
  --sidebar-primary-foreground: #f2f2f2;
  --radius: 0.5rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-blur: 3px;
  --shadow-color: 0, 0%, 30%;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --font-sans: DM Sans;
}
